@-webkit-keyframes modalDialogEnter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.96);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes modalDialogEnter {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes modalDialogLeave {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@keyframes modalDialogLeave {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
@-webkit-keyframes modalBackdropEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalBackdropEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes modalBackdropLeave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalBackdropLeave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes dropdownMenuEnter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes dropdownMenuEnter {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes dropdownMenuLeave {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
  }
}
@keyframes dropdownMenuLeave {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
}
@-webkit-keyframes popoutEnter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes popoutEnter {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes popoutLeave {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
  }
}
@keyframes popoutLeave {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: none;
  }
}
@keyframes slideUp {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: none;
  }
}
@keyframes slideUp {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes slideInFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideOutToLeft {
  from {
    opacity: 1;
    -webkit-transform: none;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutToLeft {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes slideOutToRight {
  from {
    opacity: 1;
    -webkit-transform: none;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutToRight {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes pulse {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.disclosure-arrow {
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em dashed;
  display: inline-block;
  height: 0;
  margin-top: -0.1em;
  vertical-align: middle;
  width: 0;
}
.disclosure-arrow:first-child {
  margin-right: 0.5em;
}
.disclosure-arrow:last-child {
  margin-left: 0.5em;
}
.octicon + .disclosure-arrow {
  margin-left: 0;
}
.FormLabel {
  -webkit-transition: color 280ms;
  -o-transition: color 280ms;
  transition: color 280ms;
  color: #777;
  display: inline-block;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.FormField {
  margin-bottom: 1em;
  position: relative;
}
@media (min-width: 768px) {
  .FormRow {
    margin: 0 -0.375em 0em;
    min-width: 100%;
  }
  .FormRow > .FormField {
    display: block;
    float: left;
    padding: 0 0.375em;
  }
  .FormRow > .FormField.one-half,
  .FormRow > .FormField.two-quarters,
  .FormRow > .FormField.three-sixths {
    width: 50%;
  }
  .FormRow > .FormField.one-quarter {
    width: 25%;
  }
  .FormRow > .FormField.three-quarters {
    width: 75%;
  }
  .FormRow > .FormField.one-third,
  .FormRow > .FormField.two-sixths {
    width: 33.333%;
  }
  .FormRow > .FormField.two-thirds,
  .FormRow > .FormField.four-sixths {
    width: 66.666%;
  }
  .FormRow > .FormField.one-fifth {
    width: 20%;
  }
  .FormRow > .FormField.two-fifths {
    width: 40%;
  }
  .FormRow > .FormField.three-fifths {
    width: 60%;
  }
  .FormRow > .FormField.four-fifths {
    width: 80%;
  }
  .FormRow > .FormField.one-sixth {
    width: 16.666%;
  }
  .FormRow > .FormField.five-sixths {
    width: 83.333%;
  }
  .FormField .FormRow {
    margin-bottom: 0;
  }
}
.form-validation {
  -webkit-animation: formValidationMessage 280ms ease;
  -o-animation: formValidationMessage 280ms ease;
  animation: formValidationMessage 280ms ease;
  font-size: 0.8rem;
  margin-top: .5em;
  overflow: hidden;
}
.is-invalid .form-validation {
  color: #d64242;
}
.is-valid .form-validation {
  color: #34c240;
}
@-webkit-keyframes formValidationMessage {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 14px;
    opacity: 1;
  }
}
@keyframes formValidationMessage {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 14px;
    opacity: 1;
  }
}
.FormField.is-invalid .FormLabel {
  color: #d64242;
}
.FormField.is-invalid .FormInput {
  border-color: #d64242;
}
.FormField.is-invalid .FormInput:focus {
  border-color: #d64242;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(214, 66, 66, 0.1);
}
.FormField.is-valid .FormLabel {
  color: #34c240;
}
.FormField.is-valid .FormInput {
  border-color: #34c240;
}
.FormField.is-valid .FormInput:focus {
  border-color: #34c240;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(52, 194, 64, 0.1);
}
.Checkbox,
.Radio {
  display: block;
  margin-bottom: .5em;
}
.Checkbox__input {
  position: relative;
  top: -1px;
}
.Checkbox__label,
.Radio__label {
  margin-left: .5em;
}
.inline-controls > .Checkbox,
.inline-controls > .Radio,
.Checkbox--inline,
.Radio--inline {
  display: inline-block;
  margin-right: 1em;
}
.Checkbox--disabled,
.Radio--disabled {
  color: #999;
}
@media (min-width: 768px) {
  .Checkbox,
  .Radio {
    line-height: 2.4em;
  }
}
.Form--horizontal .FormLabel {
  display: block;
}
.Form--horizontal .FormLabel:not(:first-child) {
  margin-top: 1em;
}
@media (min-width: 768px) {
  .Form--horizontal .FormField {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .Form--horizontal .FormField.offset-absent-label {
    padding-left: 180px;
  }
  .Form--horizontal .FormLabel {
    display: table-cell;
    line-height: 2.4em;
    margin-bottom: 0;
    vertical-align: top;
    width: 180px;
  }
  .Form--horizontal .FormLabel:not(:first-child) {
    padding-left: 20px;
  }
  .Form--horizontal .FormRow > .FormField {
    display: block;
    margin-bottom: 0;
    min-width: 0;
  }
  .Form--horizontal .FormRow > .FormField > .FormLabel {
    display: block;
  }
  .Form--horizontal .FormRow > .FormField .FormInput {
    margin: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .Form--inline .Checkbox,
  .Form--inline .Radio,
  .Form--inline .FormField {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
    vertical-align: top;
  }
  .Form--inline .Checkbox:first-child,
  .Form--inline .Radio:first-child,
  .Form--inline .FormField:first-child {
    padding-left: 0;
  }
  .Form--inline .Checkbox:last-child,
  .Form--inline .Radio:last-child,
  .Form--inline .FormField:last-child {
    padding-right: 0;
  }
  .Form--inline .Checkbox,
  .Form--inline .Radio {
    line-height: 2.4em;
    margin: 0 0.75em;
  }
  .Form--inline .FormLabel {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }
}
.DemoBox,
.Row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-thumbnail {
  background-color: white;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  display: inline-block;
  height: auto;
  line-height: 1;
  max-width: 100%;
  padding: 4px;
  position: relative;
}
.img-thumbnail > img {
  height: auto;
  max-width: 100%;
}
a.img-thumbnail:hover,
a.img-thumbnail:focus {
  background-color: white;
  border-color: #1385e5;
  outline: none;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'octicons';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.eot?#iefix&v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.woff?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.ttf?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.svg?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.octicon,
.mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mega-octicon {
  font-size: 32px;
}
.octicon-alert:before {
  content: '\f02d';
}
/*  */
.octicon-arrow-down:before {
  content: '\f03f';
}
/*  */
.octicon-arrow-left:before {
  content: '\f040';
}
/*  */
.octicon-arrow-right:before {
  content: '\f03e';
}
/*  */
.octicon-arrow-small-down:before {
  content: '\f0a0';
}
/*  */
.octicon-arrow-small-left:before {
  content: '\f0a1';
}
/*  */
.octicon-arrow-small-right:before {
  content: '\f071';
}
/*  */
.octicon-arrow-small-up:before {
  content: '\f09f';
}
/*  */
.octicon-arrow-up:before {
  content: '\f03d';
}
/*  */
.octicon-microscope:before,
.octicon-beaker:before {
  content: '\f0dd';
}
/*  */
.octicon-bell:before {
  content: '\f0de';
}
/*  */
.octicon-book:before {
  content: '\f007';
}
/*  */
.octicon-bookmark:before {
  content: '\f07b';
}
/*  */
.octicon-briefcase:before {
  content: '\f0d3';
}
/*  */
.octicon-broadcast:before {
  content: '\f048';
}
/*  */
.octicon-browser:before {
  content: '\f0c5';
}
/*  */
.octicon-bug:before {
  content: '\f091';
}
/*  */
.octicon-calendar:before {
  content: '\f068';
}
/*  */
.octicon-check:before {
  content: '\f03a';
}
/*  */
.octicon-checklist:before {
  content: '\f076';
}
/*  */
.octicon-chevron-down:before {
  content: '\f0a3';
}
/*  */
.octicon-chevron-left:before {
  content: '\f0a4';
}
/*  */
.octicon-chevron-right:before {
  content: '\f078';
}
/*  */
.octicon-chevron-up:before {
  content: '\f0a2';
}
/*  */
.octicon-circle-slash:before {
  content: '\f084';
}
/*  */
.octicon-circuit-board:before {
  content: '\f0d6';
}
/*  */
.octicon-clippy:before {
  content: '\f035';
}
/*  */
.octicon-clock:before {
  content: '\f046';
}
/*  */
.octicon-cloud-download:before {
  content: '\f00b';
}
/*  */
.octicon-cloud-upload:before {
  content: '\f00c';
}
/*  */
.octicon-code:before {
  content: '\f05f';
}
/*  */
.octicon-color-mode:before {
  content: '\f065';
}
/*  */
.octicon-comment-add:before,
.octicon-comment:before {
  content: '\f02b';
}
/*  */
.octicon-comment-discussion:before {
  content: '\f04f';
}
/*  */
.octicon-credit-card:before {
  content: '\f045';
}
/*  */
.octicon-dash:before {
  content: '\f0ca';
}
/*  */
.octicon-dashboard:before {
  content: '\f07d';
}
/*  */
.octicon-database:before {
  content: '\f096';
}
/*  */
.octicon-clone:before,
.octicon-desktop-download:before {
  content: '\f0dc';
}
/*  */
.octicon-device-camera:before {
  content: '\f056';
}
/*  */
.octicon-device-camera-video:before {
  content: '\f057';
}
/*  */
.octicon-device-desktop:before {
  content: '\f27c';
}
/*  */
.octicon-device-mobile:before {
  content: '\f038';
}
/*  */
.octicon-diff:before {
  content: '\f04d';
}
/*  */
.octicon-diff-added:before {
  content: '\f06b';
}
/*  */
.octicon-diff-ignored:before {
  content: '\f099';
}
/*  */
.octicon-diff-modified:before {
  content: '\f06d';
}
/*  */
.octicon-diff-removed:before {
  content: '\f06c';
}
/*  */
.octicon-diff-renamed:before {
  content: '\f06e';
}
/*  */
.octicon-ellipsis:before {
  content: '\f09a';
}
/*  */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before {
  content: '\f04e';
}
/*  */
.octicon-file-binary:before {
  content: '\f094';
}
/*  */
.octicon-file-code:before {
  content: '\f010';
}
/*  */
.octicon-file-directory:before {
  content: '\f016';
}
/*  */
.octicon-file-media:before {
  content: '\f012';
}
/*  */
.octicon-file-pdf:before {
  content: '\f014';
}
/*  */
.octicon-file-submodule:before {
  content: '\f017';
}
/*  */
.octicon-file-symlink-directory:before {
  content: '\f0b1';
}
/*  */
.octicon-file-symlink-file:before {
  content: '\f0b0';
}
/*  */
.octicon-file-text:before {
  content: '\f011';
}
/*  */
.octicon-file-zip:before {
  content: '\f013';
}
/*  */
.octicon-flame:before {
  content: '\f0d2';
}
/*  */
.octicon-fold:before {
  content: '\f0cc';
}
/*  */
.octicon-gear:before {
  content: '\f02f';
}
/*  */
.octicon-gift:before {
  content: '\f042';
}
/*  */
.octicon-gist:before {
  content: '\f00e';
}
/*  */
.octicon-gist-secret:before {
  content: '\f08c';
}
/*  */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before {
  content: '\f020';
}
/*  */
.octicon-git-commit:before {
  content: '\f01f';
}
/*  */
.octicon-git-compare:before {
  content: '\f0ac';
}
/*  */
.octicon-git-merge:before {
  content: '\f023';
}
/*  */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before {
  content: '\f009';
}
/*  */
.octicon-globe:before {
  content: '\f0b6';
}
/*  */
.octicon-graph:before {
  content: '\f043';
}
/*  */
.octicon-heart:before {
  content: '\2665';
}
/* ♥ */
.octicon-history:before {
  content: '\f07e';
}
/*  */
.octicon-home:before {
  content: '\f08d';
}
/*  */
.octicon-horizontal-rule:before {
  content: '\f070';
}
/*  */
.octicon-hubot:before {
  content: '\f09d';
}
/*  */
.octicon-inbox:before {
  content: '\f0cf';
}
/*  */
.octicon-info:before {
  content: '\f059';
}
/*  */
.octicon-issue-closed:before {
  content: '\f028';
}
/*  */
.octicon-issue-opened:before {
  content: '\f026';
}
/*  */
.octicon-issue-reopened:before {
  content: '\f027';
}
/*  */
.octicon-jersey:before {
  content: '\f019';
}
/*  */
.octicon-key:before {
  content: '\f049';
}
/*  */
.octicon-keyboard:before {
  content: '\f00d';
}
/*  */
.octicon-law:before {
  content: '\f0d8';
}
/*  */
.octicon-light-bulb:before {
  content: '\f000';
}
/*  */
.octicon-link:before {
  content: '\f05c';
}
/*  */
.octicon-link-external:before {
  content: '\f07f';
}
/*  */
.octicon-list-ordered:before {
  content: '\f062';
}
/*  */
.octicon-list-unordered:before {
  content: '\f061';
}
/*  */
.octicon-location:before {
  content: '\f060';
}
/*  */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before {
  content: '\f06a';
}
/*  */
.octicon-logo-github:before {
  content: '\f092';
}
/*  */
.octicon-mail:before {
  content: '\f03b';
}
/*  */
.octicon-mail-read:before {
  content: '\f03c';
}
/*  */
.octicon-mail-reply:before {
  content: '\f051';
}
/*  */
.octicon-mark-github:before {
  content: '\f00a';
}
/*  */
.octicon-markdown:before {
  content: '\f0c9';
}
/*  */
.octicon-megaphone:before {
  content: '\f077';
}
/*  */
.octicon-mention:before {
  content: '\f0be';
}
/*  */
.octicon-milestone:before {
  content: '\f075';
}
/*  */
.octicon-mirror-public:before,
.octicon-mirror:before {
  content: '\f024';
}
/*  */
.octicon-mortar-board:before {
  content: '\f0d7';
}
/*  */
.octicon-mute:before {
  content: '\f080';
}
/*  */
.octicon-no-newline:before {
  content: '\f09c';
}
/*  */
.octicon-octoface:before {
  content: '\f008';
}
/*  */
.octicon-organization:before {
  content: '\f037';
}
/*  */
.octicon-package:before {
  content: '\f0c4';
}
/*  */
.octicon-paintcan:before {
  content: '\f0d1';
}
/*  */
.octicon-pencil:before {
  content: '\f058';
}
/*  */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before {
  content: '\f018';
}
/*  */
.octicon-pin:before {
  content: '\f041';
}
/*  */
.octicon-plug:before {
  content: '\f0d4';
}
/*  */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before {
  content: '\f05d';
}
/*  */
.octicon-primitive-dot:before {
  content: '\f052';
}
/*  */
.octicon-primitive-square:before {
  content: '\f053';
}
/*  */
.octicon-pulse:before {
  content: '\f085';
}
/*  */
.octicon-question:before {
  content: '\f02c';
}
/*  */
.octicon-quote:before {
  content: '\f063';
}
/*  */
.octicon-radio-tower:before {
  content: '\f030';
}
/*  */
.octicon-repo-delete:before,
.octicon-repo:before {
  content: '\f001';
}
/*  */
.octicon-repo-clone:before {
  content: '\f04c';
}
/*  */
.octicon-repo-force-push:before {
  content: '\f04a';
}
/*  */
.octicon-gist-fork:before,
.octicon-repo-forked:before {
  content: '\f002';
}
/*  */
.octicon-repo-pull:before {
  content: '\f006';
}
/*  */
.octicon-repo-push:before {
  content: '\f005';
}
/*  */
.octicon-rocket:before {
  content: '\f033';
}
/*  */
.octicon-rss:before {
  content: '\f034';
}
/*  */
.octicon-ruby:before {
  content: '\f047';
}
/*  */
.octicon-screen-full:before {
  content: '\f066';
}
/*  */
.octicon-screen-normal:before {
  content: '\f067';
}
/*  */
.octicon-search-save:before,
.octicon-search:before {
  content: '\f02e';
}
/*  */
.octicon-server:before {
  content: '\f097';
}
/*  */
.octicon-settings:before {
  content: '\f07c';
}
/*  */
.octicon-shield:before {
  content: '\f0e1';
}
/*  */
.octicon-log-in:before,
.octicon-sign-in:before {
  content: '\f036';
}
/*  */
.octicon-log-out:before,
.octicon-sign-out:before {
  content: '\f032';
}
/*  */
.octicon-squirrel:before {
  content: '\f0b2';
}
/*  */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before {
  content: '\f02a';
}
/*  */
.octicon-stop:before {
  content: '\f08f';
}
/*  */
.octicon-repo-sync:before,
.octicon-sync:before {
  content: '\f087';
}
/*  */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before {
  content: '\f015';
}
/*  */
.octicon-telescope:before {
  content: '\f088';
}
/*  */
.octicon-terminal:before {
  content: '\f0c8';
}
/*  */
.octicon-three-bars:before {
  content: '\f05e';
}
/*  */
.octicon-thumbsdown:before {
  content: '\f0db';
}
/*  */
.octicon-thumbsup:before {
  content: '\f0da';
}
/*  */
.octicon-tools:before {
  content: '\f031';
}
/*  */
.octicon-trashcan:before {
  content: '\f0d0';
}
/*  */
.octicon-triangle-down:before {
  content: '\f05b';
}
/*  */
.octicon-triangle-left:before {
  content: '\f044';
}
/*  */
.octicon-triangle-right:before {
  content: '\f05a';
}
/*  */
.octicon-triangle-up:before {
  content: '\f0aa';
}
/*  */
.octicon-unfold:before {
  content: '\f039';
}
/*  */
.octicon-unmute:before {
  content: '\f0ba';
}
/*  */
.octicon-versions:before {
  content: '\f064';
}
/*  */
.octicon-watch:before {
  content: '\f0e0';
}
/*  */
.octicon-remove-close:before,
.octicon-x:before {
  content: '\f081';
}
/*  */
.octicon-zap:before {
  content: '\26A1';
}
/* ⚡ */
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #fdfdfd;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a,
.a {
  color: #1385e5;
  cursor: pointer;
  text-decoration: none;
}
a:hover,
.a:hover,
a:focus,
.a:focus {
  color: #3c9def;
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
hr {
  border: 0;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  margin-bottom: 2em;
  margin-top: 2em;
}
table {
  border-collapse: collapse;
}
.Table {
  text-align: left;
  width: 100%;
}
.Table.align-bottom td,
.Table.align-bottom th {
  vertical-align: bottom;
}
.Table.align-top td,
.Table.align-top th {
  vertical-align: top;
}
.Table td,
.Table th {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  display: table-cell;
  padding: 0.66em;
  vertical-align: middle;
}
.Table td:first-child,
.Table th:first-child {
  padding-left: 0;
}
.Table td:last-child,
.Table th:last-child {
  padding-right: 0;
}
.Table th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  border-top: 0;
  color: #999;
  display: table-cell;
  font-weight: normal;
  text-align: left;
  vertical-align: bottom;
}
.Table-section {
  background-color: #fafafa;
  color: #666;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}
/*tr*/
.row-selected > td {
  background-color: #fffef5;
  color: inherit;
}
.th-sort {
  color: inherit;
  display: block;
}
.th-sort:hover,
.th-sort:focus {
  color: #333;
  text-decoration: none;
}
.th-sort:hover .th-sort__icon,
.th-sort:focus .th-sort__icon {
  opacity: 1;
}
.th-sort--asc,
.th-sort--desc {
  color: #333;
}
.th-sort--asc .th-sort__icon,
.th-sort--desc .th-sort__icon {
  opacity: 1;
}
.th-sort__icon {
  -webkit-transition: opacity 150ms linear;
  -o-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-left: 4px;
  opacity: 0;
  position: relative;
  top: 3px;
}
.th-sort__icon:before,
.th-sort__icon:after {
  height: 0;
  width: 0;
  border: 4px solid transparent;
  content: "";
  position: absolute;
}
.th-sort__icon:before {
  border-bottom-color: #333;
  top: 0;
}
.th-sort__icon:after {
  border-top-color: #333;
  bottom: 0;
}
.th-sort--asc .th-sort__icon:after {
  opacity: .5;
}
.th-sort--desc .th-sort__icon:before {
  opacity: .5;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #222;
  font-weight: 500;
  line-height: 1;
  margin-bottom: .66em;
  margin-top: 0;
}
h1,
.h1 {
  font-size: 3em;
}
h2,
.h2 {
  font-size: 2em;
  font-weight: 300;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: .85em;
}
h6,
.h6 {
  font-size: .75em;
}
.lead {
  color: #666;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 2em;
}
.Alert {
  padding: .75em  1em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 0.3em;
}
.Alert h4 {
  margin-top: 0;
  color: inherit;
}
.Alert > p,
.Alert > ul {
  margin-bottom: 0;
}
.Alert > p + p {
  margin-top: 5px;
}
.Alert--dismissable {
  padding-right: 2em;
}
.Alert--dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.Alert--success {
  background-color: rgba(52, 194, 64, 0.1);
  border-color: rgba(52, 194, 64, 0.05);
  color: #34c240;
}
.Alert--success hr {
  border-top-color: #2fae39;
}
.Alert--success .alert-link {
  color: #299a33;
}
.Alert--info {
  background-color: rgba(86, 205, 252, 0.1);
  border-color: rgba(86, 205, 252, 0.05);
  color: #56cdfc;
}
.Alert--info hr {
  border-top-color: #3dc6fc;
}
.Alert--info .alert-link {
  color: #24befb;
}
.Alert--warning {
  background-color: rgba(250, 159, 71, 0.1);
  border-color: rgba(250, 159, 71, 0.05);
  color: #fa9f47;
}
.Alert--warning hr {
  border-top-color: #f9922e;
}
.Alert--warning .alert-link {
  color: #f98515;
}
.Alert--danger,
.Alert--error {
  background-color: rgba(214, 66, 66, 0.1);
  border-color: rgba(214, 66, 66, 0.05);
  color: #d64242;
}
.Alert--danger hr,
.Alert--error hr {
  border-top-color: #d12d2d;
}
.Alert--danger .alert-link,
.Alert--error .alert-link {
  color: #bc2929;
}
.BlankState {
  background-color: #f3f3f3;
  border-radius: 0.3em;
  color: #999;
  padding: 5em 2em;
  text-align: center;
}
.BlankState__heading {
  color: inherit;
}
.BlankState__heading:last-child {
  margin-bottom: 0;
}
.Button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: 1px solid transparent;
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 2.3em;
  height: 2.4em;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0 1em;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
}
.Button:hover,
.Button:focus,
.Button.focus,
.Button.is-focus {
  color: #1385e5;
  text-decoration: none;
}
.Button:active,
.Button.active,
.Button.is-active {
  background-image: none;
  outline: 0;
}
.Button.disabled,
.Button[disabled] {
  opacity: .4;
  pointer-events: none;
}
.Button--default {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #333;
  text-shadow: 0 1px 0 white;
}
.Button--default:hover {
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #bfbfbf #bfbfbf #b3b3b3;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #333;
}
.Button--default:focus {
  border-color: #1385e5;
  box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1);
  color: #333;
  outline: none;
}
.Button--default.is-active,
.Button--default:active {
  background: #e6e6e6;
  border-color: #b3b3b3;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}
.Button--default.is-active:focus:not(:active) {
  border-color: #1385e5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(19, 133, 229, 0.1);
}
.Button--default.disabled,
.Button--default[disabled] {
  background-color: #f3f3f3;
}
.Button--default-primary {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #1385e5;
}
.Button--default-primary:hover {
  background-image: -webkit-linear-gradient(top, #208fec 0%, #117ad2 100%);
  background-image: -o-linear-gradient(top, #208fec 0%, #117ad2 100%);
  background-image: linear-gradient(to bottom, #208fec 0%, #117ad2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff208fec', endColorstr='#ff117ad2', GradientType=0);
  border-color: #1175c9 #0e64ac #0c5490;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--default-primary:focus {
  border-color: #1175c9 #0e64ac #0c5490;
  box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.25);
  color: white;
  color: #1385e5;
  outline: none;
}
.Button--default-primary:hover:focus {
  color: white;
}
.Button--default-primary:active {
  background-color: #117ad2;
  background-image: none;
  border-color: #0c5490 #0e64ac #1175c9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--default-primary.disabled,
.Button--default-primary[disabled] {
  background-color: #f3f3f3;
}
.Button--default-success {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #34c240;
}
.Button--default-success:hover {
  background-image: -webkit-linear-gradient(top, #3fcc4b 0%, #30b23b 100%);
  background-image: -o-linear-gradient(top, #3fcc4b 0%, #30b23b 100%);
  background-image: linear-gradient(to bottom, #3fcc4b 0%, #30b23b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3fcc4b', endColorstr='#ff30b23b', GradientType=0);
  border-color: #2eaa38 #279230 #217a28;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--default-success:focus {
  border-color: #2eaa38 #279230 #217a28;
  box-shadow: 0 0 0 3px rgba(52, 194, 64, 0.25);
  color: white;
  color: #34c240;
  outline: none;
}
.Button--default-success:hover:focus {
  color: white;
}
.Button--default-success:active {
  background-color: #30b23b;
  background-image: none;
  border-color: #217a28 #279230 #2eaa38;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--default-success.disabled,
.Button--default-success[disabled] {
  background-color: #f3f3f3;
}
.Button--default-warning {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #fa9f47;
}
.Button--default-warning:hover {
  background-image: -webkit-linear-gradient(top, #fba95b 0%, #f99533 100%);
  background-image: -o-linear-gradient(top, #fba95b 0%, #f99533 100%);
  background-image: linear-gradient(to bottom, #fba95b 0%, #f99533 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffba95b', endColorstr='#fff99533', GradientType=0);
  border-color: #f98f29 #f8800b #df7106;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--default-warning:focus {
  border-color: #f98f29 #f8800b #df7106;
  box-shadow: 0 0 0 3px rgba(250, 159, 71, 0.25);
  color: white;
  color: #fa9f47;
  outline: none;
}
.Button--default-warning:hover:focus {
  color: white;
}
.Button--default-warning:active {
  background-color: #f99533;
  background-image: none;
  border-color: #df7106 #f8800b #f98f29;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--default-warning.disabled,
.Button--default-warning[disabled] {
  background-color: #f3f3f3;
}
.Button--default-danger {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #d64242;
}
.Button--default-danger:hover {
  background-image: -webkit-linear-gradient(top, #da5353 0%, #d23131 100%);
  background-image: -o-linear-gradient(top, #da5353 0%, #d23131 100%);
  background-image: linear-gradient(to bottom, #da5353 0%, #d23131 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda5353', endColorstr='#ffd23131', GradientType=0);
  border-color: #cd2c2c #b42727 #9b2222;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--default-danger:focus {
  border-color: #cd2c2c #b42727 #9b2222;
  box-shadow: 0 0 0 3px rgba(214, 66, 66, 0.25);
  color: white;
  color: #d64242;
  outline: none;
}
.Button--default-danger:hover:focus {
  color: white;
}
.Button--default-danger:active {
  background-color: #d23131;
  background-image: none;
  border-color: #9b2222 #b42727 #cd2c2c;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--default-danger.disabled,
.Button--default-danger[disabled] {
  background-color: #f3f3f3;
}
.Button--primary {
  background-image: -webkit-linear-gradient(top, #2591ed 0%, #1177cd 100%);
  background-image: -o-linear-gradient(top, #2591ed 0%, #1177cd 100%);
  background-image: linear-gradient(to bottom, #2591ed 0%, #1177cd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2591ed', endColorstr='#ff1177cd', GradientType=0);
  background-color: #1385e5;
  border-color: #1177cd #0f6ab6 #0d5c9e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.Button--primary:hover,
.Button--primary:focus,
.Button--primary.focus {
  background-image: -webkit-linear-gradient(top, #3c9def 0%, #1385e5 100%);
  background-image: -o-linear-gradient(top, #3c9def 0%, #1385e5 100%);
  background-image: linear-gradient(to bottom, #3c9def 0%, #1385e5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c9def', endColorstr='#ff1385e5', GradientType=0);
  border-color: #1385e5 #1177cd #0f6ab6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}
.Button--primary:focus,
.Button--primary.focus {
  box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.25);
}
.Button--primary:active,
.Button--primary.active {
  background-color: #117ad2;
  background-image: none;
  border-color: #0d5c9e #0f6ab6 #1177cd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.Button--success {
  background-image: -webkit-linear-gradient(top, #43cd4f 0%, #2fae39 100%);
  background-image: -o-linear-gradient(top, #43cd4f 0%, #2fae39 100%);
  background-image: linear-gradient(to bottom, #43cd4f 0%, #2fae39 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff43cd4f', endColorstr='#ff2fae39', GradientType=0);
  background-color: #34c240;
  border-color: #2fae39 #299a33 #24862c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.Button--success:hover,
.Button--success:focus,
.Button--success.focus {
  background-image: -webkit-linear-gradient(top, #57d261 0%, #34c240 100%);
  background-image: -o-linear-gradient(top, #57d261 0%, #34c240 100%);
  background-image: linear-gradient(to bottom, #57d261 0%, #34c240 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff57d261', endColorstr='#ff34c240', GradientType=0);
  border-color: #34c240 #2fae39 #299a33;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}
.Button--success:focus,
.Button--success.focus {
  box-shadow: 0 0 0 3px rgba(52, 194, 64, 0.25);
}
.Button--success:active,
.Button--success.active {
  background-color: #30b23b;
  background-image: none;
  border-color: #24862c #299a33 #2fae39;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.Button--warning {
  background-image: -webkit-linear-gradient(top, #fbac60 0%, #f9922e 100%);
  background-image: -o-linear-gradient(top, #fbac60 0%, #f9922e 100%);
  background-image: linear-gradient(to bottom, #fbac60 0%, #f9922e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbac60', endColorstr='#fff9922e', GradientType=0);
  background-color: #fa9f47;
  border-color: #f9922e #f98515 #ee7806;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.Button--warning:hover,
.Button--warning:focus,
.Button--warning.focus {
  background-image: -webkit-linear-gradient(top, #fbb979 0%, #fa9f47 100%);
  background-image: -o-linear-gradient(top, #fbb979 0%, #fa9f47 100%);
  background-image: linear-gradient(to bottom, #fbb979 0%, #fa9f47 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb979', endColorstr='#fffa9f47', GradientType=0);
  border-color: #fa9f47 #f9922e #f98515;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}
.Button--warning:focus,
.Button--warning.focus {
  box-shadow: 0 0 0 3px rgba(250, 159, 71, 0.25);
}
.Button--warning:active,
.Button--warning.active {
  background-color: #f99533;
  background-image: none;
  border-color: #ee7806 #f98515 #f9922e;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.Button--danger {
  background-image: -webkit-linear-gradient(top, #db5757 0%, #d12d2d 100%);
  background-image: -o-linear-gradient(top, #db5757 0%, #d12d2d 100%);
  background-image: linear-gradient(to bottom, #db5757 0%, #d12d2d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb5757', endColorstr='#ffd12d2d', GradientType=0);
  background-color: #d64242;
  border-color: #d12d2d #bc2929 #a72424;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.Button--danger:hover,
.Button--danger:focus,
.Button--danger.focus {
  background-image: -webkit-linear-gradient(top, #df6c6c 0%, #d64242 100%);
  background-image: -o-linear-gradient(top, #df6c6c 0%, #d64242 100%);
  background-image: linear-gradient(to bottom, #df6c6c 0%, #d64242 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf6c6c', endColorstr='#ffd64242', GradientType=0);
  border-color: #d64242 #d12d2d #bc2929;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}
.Button--danger:focus,
.Button--danger.focus {
  box-shadow: 0 0 0 3px rgba(214, 66, 66, 0.25);
}
.Button--danger:active,
.Button--danger.active {
  background-color: #d23131;
  background-image: none;
  border-color: #a72424 #bc2929 #d12d2d;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.Button--hollow-primary {
  background: none;
  border-color: #71b5ef;
  color: #1385e5;
}
.Button--hollow-primary:hover,
.Button--hollow-primary:focus {
  background-color: #f2f7fc;
  background-image: none;
  border-color: #439de9;
  color: #1385e5;
  outline: none;
}
.Button--hollow-primary:focus,
.Button--hollow-primary.focus {
  box-shadow: 0 0 0 3px rgba(113, 181, 239, 0.1);
}
.Button--hollow-primary:active {
  background-color: rgba(113, 181, 239, 0.2);
  border-color: #1a85df;
  box-shadow: none;
}
.Button--hollow-success {
  background: none;
  border-color: #84da8c;
  color: #34c240;
}
.Button--hollow-success:hover,
.Button--hollow-success:focus {
  background-color: #f3faf4;
  background-image: none;
  border-color: #5dce67;
  color: #34c240;
  outline: none;
}
.Button--hollow-success:focus,
.Button--hollow-success.focus {
  box-shadow: 0 0 0 3px rgba(132, 218, 140, 0.1);
}
.Button--hollow-success:active {
  background-color: rgba(132, 218, 140, 0.2);
  border-color: #3abe45;
  box-shadow: none;
}
.Button--hollow-warning {
  background: none;
  border-color: #fbc590;
  color: #fa9f47;
}
.Button--hollow-warning:hover,
.Button--hollow-warning:focus {
  background-color: #fdf8f4;
  background-image: none;
  border-color: #faab5e;
  color: #fa9f47;
  outline: none;
}
.Button--hollow-warning:focus,
.Button--hollow-warning.focus {
  box-shadow: 0 0 0 3px rgba(251, 197, 144, 0.1);
}
.Button--hollow-warning:active {
  background-color: rgba(251, 197, 144, 0.2);
  border-color: #f8912d;
  box-shadow: none;
}
.Button--hollow-danger {
  background: none;
  border-color: #e68d8d;
  color: #d64242;
}
.Button--hollow-danger:hover,
.Button--hollow-danger:focus {
  background-color: #fbf4f4;
  background-image: none;
  border-color: #dc6363;
  color: #d64242;
  outline: none;
}
.Button--hollow-danger:focus,
.Button--hollow-danger.focus {
  box-shadow: 0 0 0 3px rgba(230, 141, 141, 0.1);
}
.Button--hollow-danger:active {
  background-color: rgba(230, 141, 141, 0.2);
  border-color: #d33939;
  box-shadow: none;
}
.Button--link {
  color: #1385e5;
  font-weight: normal;
}
.Button--link,
.Button--link:active,
.Button--link.active,
.Button--link[disabled],
fieldset[disabled] .Button--link {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.Button--link,
.Button--link:hover,
.Button--link:focus,
.Button--link:active {
  border-color: transparent;
  outline: none;
}
.Button--link:hover,
.Button--link:focus {
  background-color: transparent;
  color: #3c9def;
  text-decoration: underline;
}
.Button--link-text {
  color: #1385e5;
  font-weight: normal;
  color: #333;
}
.Button--link-text,
.Button--link-text:active,
.Button--link-text.active,
.Button--link-text[disabled],
fieldset[disabled] .Button--link-text {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.Button--link-text,
.Button--link-text:hover,
.Button--link-text:focus,
.Button--link-text:active {
  border-color: transparent;
  outline: none;
}
.Button--link-text:hover,
.Button--link-text:focus {
  background-color: transparent;
  color: #3c9def;
  text-decoration: underline;
}
.Button--link-text:hover,
.Button--link-text:focus {
  color: #1385e5;
  outline: none;
}
.Button--link-cancel {
  color: #1385e5;
  font-weight: normal;
  color: #999;
}
.Button--link-cancel,
.Button--link-cancel:active,
.Button--link-cancel.active,
.Button--link-cancel[disabled],
fieldset[disabled] .Button--link-cancel {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.Button--link-cancel,
.Button--link-cancel:hover,
.Button--link-cancel:focus,
.Button--link-cancel:active {
  border-color: transparent;
  outline: none;
}
.Button--link-cancel:hover,
.Button--link-cancel:focus {
  background-color: transparent;
  color: #3c9def;
  text-decoration: underline;
}
.Button--link-cancel:hover,
.Button--link-cancel:focus {
  color: #d64242;
  outline: none;
}
.Button--link-success {
  color: #1385e5;
  font-weight: normal;
  color: #34c240;
}
.Button--link-success,
.Button--link-success:active,
.Button--link-success.active,
.Button--link-success[disabled],
fieldset[disabled] .Button--link-success {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.Button--link-success,
.Button--link-success:hover,
.Button--link-success:focus,
.Button--link-success:active {
  border-color: transparent;
  outline: none;
}
.Button--link-success:hover,
.Button--link-success:focus {
  background-color: transparent;
  color: #3c9def;
  text-decoration: underline;
}
.Button--link-success:hover,
.Button--link-success:focus {
  color: #34c240;
  outline: none;
}
.Button--link-delete {
  color: #1385e5;
  font-weight: normal;
  color: #999;
}
.Button--link-delete,
.Button--link-delete:active,
.Button--link-delete.active,
.Button--link-delete[disabled],
fieldset[disabled] .Button--link-delete {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.Button--link-delete,
.Button--link-delete:hover,
.Button--link-delete:focus,
.Button--link-delete:active {
  border-color: transparent;
  outline: none;
}
.Button--link-delete:hover,
.Button--link-delete:focus {
  background-color: transparent;
  color: #3c9def;
  text-decoration: underline;
}
.Button--link-delete:hover,
.Button--link-delete:focus {
  background-image: -webkit-linear-gradient(top, #da5353 0%, #d23131 100%);
  background-image: -o-linear-gradient(top, #da5353 0%, #d23131 100%);
  background-image: linear-gradient(to bottom, #da5353 0%, #d23131 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda5353', endColorstr='#ffd23131', GradientType=0);
  background-color: #d64242;
  border-color: #d23131 #c52b2b #b42727;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  text-decoration: none;
}
.Button--link-delete:focus {
  box-shadow: 0 0 0 3px rgba(214, 66, 66, 0.25);
  outline: none;
}
.Button--link-delete:active {
  background-color: #d23131;
  background-image: none !important;
  border-color: #b42727 #c52b2b #c52b2b;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}
.Button--lg {
  font-size: 1.25rem;
}
.Button--sm {
  font-size: 0.9rem;
}
.Button--xs {
  font-size: 0.8rem;
  line-height: 1.9;
  padding-left: .66em;
  padding-right: .66em;
}
.Button--block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.ButtonGroup {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.ButtonGroup > .Button {
  border-radius: 0;
  float: left;
  margin-left: -1px;
}
.ButtonGroup > .Button:first-child {
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  margin-left: 0;
}
.ButtonGroup > .Button:last-child {
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.ButtonGroup > .Button:hover,
.ButtonGroup > .Button:active,
.ButtonGroup > .Button:focus {
  position: relative;
}
.ButtonGroup > .Button:focus {
  z-index: 1;
}
.Button > .octicon:first-child {
  margin-right: 0.5em;
}
.Button > .octicon:last-child {
  margin-left: 0.5em;
}
.Button > .octicon:only-child {
  margin-left: 0;
  margin-right: 0;
}
.Dropdown {
  display: inline-block;
  position: relative;
}
.Dropdown-menu {
  -webkit-animation-duration: 100ms;
  animation-duration: 100ms;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  background-color: white;
  border-radius: 0.3em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.175), 0 3px 8px rgba(0, 0, 0, 0.175);
  font-size: 14px;
  left: 0;
  list-style: none;
  margin: 4px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 100;
  max-height: 360px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.align-right .Dropdown-menu {
  left: auto;
  right: 0;
}
.Dropdown-menu-enter {
  -webkit-animation-name: dropdownMenuEnter;
  animation-name: dropdownMenuEnter;
}
.Dropdown-menu-leave {
  -webkit-animation-name: dropdownMenuLeave;
  animation-name: dropdownMenuLeave;
}
.Dropdown-menu__item,
.Dropdown-menu__header {
  white-space: nowrap;
}
.Dropdown-menu__action {
  clear: both;
  color: #333;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.4;
  padding: 3px 20px;
}
.Dropdown-menu__action:hover,
.Dropdown-menu__action:focus,
.Dropdown-menu__action_highlight {
  background-color: #e7f3fc;
  color: #20649e;
  text-decoration: none;
}
.Dropdown-menu__action.active,
.Dropdown-menu__action.active:hover,
.Dropdown-menu__action.active:focus {
  background-color: #1385e5;
  color: white;
  outline: 0;
  text-decoration: none;
}
.Dropdown-menu__divider {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: .25em;
  margin-top: .25em;
  overflow: hidden;
}
.Dropdown-menu__header {
  color: #999;
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 1em;
  padding: 3px 20px;
  white-space: nowrap;
}
.Dropdown-menu__divider + .Dropdown-menu__header {
  margin-top: 0;
}
.blockout,
.Dropdown-menu-backdrop {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
@-webkit-keyframes dropdownMenuEnter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes dropdownMenuEnter {
  from {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes dropdownMenuLeave {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -5px, 0);
  }
}
@keyframes dropdownMenuLeave {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }
}
.FileDragAndDrop {
  -webkit-transition: border 120ms;
  -o-transition: border 120ms;
  transition: border 120ms;
  background: none;
  border: 2px dashed #ccc;
  border-radius: 0.5em;
  color: #999999;
  cursor: pointer;
  height: 120px;
  line-height: 120px;
  padding: 0 1em;
  text-align: center;
  width: 100%;
}
.FileDragAndDrop:focus,
.FileDragAndDrop.active {
  border-color: #6bb5f3;
  border-style: solid;
  color: #1385e5;
  outline: none;
  -webkit-appearance: none;
}
.FileDragAndDrop__label {
  display: inline-block;
  font-weight: 500;
  line-height: 1.2;
  vertical-align: middle;
}
.FileUpload {
  overflow: hidden;
}
.FileUpload__image {
  border-radius: 0.3em;
  border: 1px solid #ccc;
  float: left;
  margin-right: 20px;
  padding: 5px;
  width: 120px;
}
.FileUpload__image-src {
  height: auto;
  max-width: 100%;
}
.FileUpload__message {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
  display: inline-block;
  margin-bottom: 1em;
}
.FormInput {
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: white;
  background-image: none;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  border-top-color: #c2c2c2;
  border-bottom-color: #d6d6d6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #333;
  display: block;
  line-height: 1.2;
  height: 2.4em;
  padding: 0 0.75em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.FormInput:hover {
  border-color: #b3b3b3;
  outline: 0;
}
.FormInput.focus,
.FormInput.is-focused,
.FormInput:focus {
  border-color: #1385e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(19, 133, 229, 0.1);
  outline: 0;
}
.FormInput.disabled,
.FormInput[disabled] {
  background-color: #f7f7f7;
  pointer-events: none;
}
.FormInput::-moz-focus-inner {
  border: 0;
  outline: 0;
}
.FormInput--lg {
  font-size: 1.25rem;
}
.FormInput--sm {
  font-size: 0.9rem;
}
.FormInput--xs {
  font-size: 0.8rem;
  line-height: 1.9;
  padding-left: .66em;
  padding-right: .66em;
}
/*div*/
.FormInput-noedit {
  max-width: 100%;
  /* 1 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  /* 2 */
  background-color: #f8f8f8;
  border-radius: 0.3em;
  border: 1px solid #e9e9e9;
  color: #333;
  display: inline-block;
  font-size: 14px;
  line-height: 2.3em;
  height: 2.4em;
  min-width: 180px;
  padding: 0 0.75em;
  vertical-align: middle;
  width: auto;
}
a.FormInput-noedit {
  background-color: rgba(19, 133, 229, 0.05);
  border-color: rgba(19, 133, 229, 0.1);
  color: #1385e5;
  margin-right: 5px;
  min-width: 0;
  text-decoration: none;
}
a.FormInput-noedit:hover,
a.FormInput-noedit:focus {
  background-color: rgba(19, 133, 229, 0.1);
  border-color: rgba(19, 133, 229, 0.1);
  color: #1385e5;
  outline: none;
  text-decoration: underline;
}
.FormInput-noedit--multiline {
  line-height: 1.3;
  height: auto;
  padding: 0.5em 0.75em;
  white-space: normal;
}
textarea.FormInput {
  overflow: auto;
  resize: vertical;
  height: auto;
  line-height: 1.4em;
  min-height: 6.75em;
  padding: 0.5em 0.75em;
}
.FormSelect {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border-bottom-color: #c2c2c2;
  border-top-color: #d6d6d6;
  height: 2.4em;
}
.FormSelect:focus {
  box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1);
}
.FormSelect.disabled,
.FormSelect[disabled] {
  color: #999;
}
.FormSelect__arrows {
  bottom: 0;
  line-height: 2.4em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  width: 2.4em;
}
.FormSelect__arrows > svg {
  fill: #333;
}
.FormSelect__arrows--disabled > svg {
  fill: #999;
}
.FormNote {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.FormNote--default {
  color: #777;
}
.FormNote--primary {
  color: #1385e5;
}
.FormNote--success {
  color: #34c240;
}
.FormNote--info {
  color: #56cdfc;
}
.FormNote--warning {
  color: #fa9f47;
}
.FormNote--danger {
  color: #d64242;
}
.IconField {
  position: relative;
}
.IconField.left > .FormInput {
  padding-left: 2.25em;
}
.IconField.left > .IconField__icon {
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  left: 0;
}
.IconField.left > .Spinner {
  left: 8px;
}
.IconField.left.has-fill-icon > .FormInput {
  padding-left: 3em;
}
.IconField.right > .FormInput {
  padding-right: 2.25em;
}
.IconField.right > .IconField__icon {
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  right: 0;
}
.IconField.right > .Spinner {
  right: 8px;
}
.IconField.right.has-fill-icon > .FormInput {
  padding-right: 3em;
}
.IconField__icon {
  bottom: 0;
  padding-left: .6em;
  padding-right: .6em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 2.2em;
}
.IconField__icon::before {
  height: 1em;
  width: 1em;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-top: -0.5em;
  position: absolute;
  text-align: center;
  top: 50%;
}
.IconField > .Spinner {
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  top: 50%;
}
.IconField__icon-color--default {
  color: #aaa;
}
.IconField__icon-color--danger {
  color: #d64242;
}
.IconField__icon-color--primary {
  color: #1385e5;
}
.IconField__icon-color--success {
  color: #34c240;
}
.IconField__icon-color--warning {
  color: #fa9f47;
}
.IconField__icon-fill--danger {
  background-color: #d64242;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: white;
}
.IconField__icon-fill--primary {
  background-color: #1385e5;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: white;
}
.IconField__icon-fill--success {
  background-color: #34c240;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: white;
}
.IconField__icon-fill--warning {
  background-color: #fa9f47;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: white;
}
.IconField__icon-fill--default {
  background-color: #ccc;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: #666;
}
.FormInput:focus + .IconField__icon-fill--default {
  box-shadow: inset -1px 0 0 #b3b3b3, inset 0 0 0 1px #1385e5;
}
.field-context-danger > .FormInput:focus,
.field-context-danger > .FormInput.focus {
  border-color: #d64242;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(214, 66, 66, 0.1);
}
.field-context-success > .FormInput:focus,
.field-context-success > .FormInput.focus {
  border-color: #34c240;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(52, 194, 64, 0.1);
}
.field-context-warning > .FormInput:focus,
.field-context-warning > .FormInput.focus {
  border-color: #fa9f47;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(250, 159, 71, 0.1);
}
.InputGroup {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}
.FormField .InputGroup {
  margin-bottom: 0;
}
.InputGroup_section + .InputGroup_section {
  padding-left: 0.75em;
}
.InputGroup--contiguous .InputGroup_section {
  padding-left: 0;
}
.InputGroup_section--grow {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}
.InputGroup_section > .FormInput,
.InputGroup_section > .Button {
  position: relative;
}
.InputGroup_section > .FormInput:focus,
.InputGroup_section > .Button:focus {
  z-index: 1;
}
.InputGroup--contiguous > .InputGroup_section {
  margin-left: -1px;
}
.InputGroup--contiguous > .InputGroup_section:first-child {
  margin-left: 0;
}
.InputGroup--contiguous > .InputGroup_section > .FormInput,
.InputGroup--contiguous > .InputGroup_section > .Button,
.InputGroup--contiguous > .InputGroup_section > .FormField .FormInput {
  border-radius: 0;
}
.InputGroup--contiguous > .InputGroup_section:first-child > .FormInput,
.InputGroup--contiguous > .InputGroup_section:first-child > .Button,
.InputGroup--contiguous > .InputGroup_section:first-child > .FormField .FormInput {
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
}
.InputGroup--contiguous > .InputGroup_section:last-child > .FormInput,
.InputGroup--contiguous > .InputGroup_section:last-child > .Button,
.InputGroup--contiguous > .InputGroup_section:last-child > .FormField .FormInput {
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.Modal {
  -webkit-transition: visibility 140ms;
  -o-transition: visibility 140ms;
  transition: visibility 140ms;
  bottom: 0;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 110;
  -webkit-overflow-scrolling: touch;
}
.Modal.is-open {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  visibility: visible;
}
.Modal-dialog {
  max-width: 100%;
  padding: 10px;
  position: relative;
  width: auto;
  z-index: 2;
}
.Modal-dialog-enter {
  -webkit-animation-name: modalDialogEnter;
  animation-name: modalDialogEnter;
  -webkit-animation-duration: 260ms;
  animation-duration: 260ms;
  -webkit-animation-timing-function: cubic-bezier(0.5, -0.55, 0.4, 1.55);
  animation-timing-function: cubic-bezier(0.5, -0.55, 0.4, 1.55);
}
.Modal-dialog-leave {
  -webkit-animation-duration: 140ms;
  animation-duration: 140ms;
  -webkit-animation-name: modalDialogLeave;
  animation-name: modalDialogLeave;
}
.Modal-content {
  background-color: white;
  border-radius: 0.3em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.175), 0 3px 8px rgba(0, 0, 0, 0.175);
  outline: none;
  position: relative;
}
@media (min-width: 768px) {
  .Modal-dialog {
    margin: 80px auto;
  }
  .Modal-dialog--small {
    width: 320px;
  }
  .Modal-dialog--medium {
    width: 640px;
  }
  .Modal-dialog--large {
    width: 960px;
  }
}
.Modal__header,
.Modal__body,
.Modal__footer {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}
.Modal__header {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.Modal__header__text {
  color: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}
.Modal__header__close {
  -webkit-transition: opacity 140ms;
  -o-transition: opacity 140ms;
  transition: opacity 140ms;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1ex;
  margin: 0;
  opacity: .4;
  font-size: 24px;
  padding: 20px 20px;
  position: absolute;
  right: -20px;
  top: 0;
}
.Modal__header__close::after {
  content: "\00d7";
}
.Modal__header__close:hover,
.Modal__header__close:focus {
  opacity: 1;
  outline: 0;
}
.Modal__header__close:active {
  color: #d64242;
}
.Modal__body {
  margin: 0;
  padding: 20px 20px;
}
.Modal__footer {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.Modal-backdrop {
  -webkit-animation-duration: 140ms;
  animation-duration: 140ms;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 109;
}
.Modal-background-enter {
  -webkit-animation-name: modalBackdropEnter;
  animation-name: modalBackdropEnter;
}
.Modal-background-leave {
  -webkit-animation-duration: 240ms;
  animation-duration: 240ms;
  -webkit-animation-name: modalBackdropLeave;
  animation-name: modalBackdropLeave;
}
.Pagination {
  color: #999;
  display: block;
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 2em;
}
.Pagination__count {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}
.Pagination__list {
  display: inline-block;
  vertical-align: middle;
}
.Pagination__list__item {
  background: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #666;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-right: .25em;
  padding: 0 .7em;
  position: relative;
  text-decoration: none;
  -webkit-appearance: none;
}
.Pagination__list__item:hover,
.Pagination__list__item:focus {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.1);
  color: #666;
  outline: none;
}
.Pagination__list__item.is-selected,
.Pagination__list__item.is-selected:hover,
.Pagination__list__item.is-selected:focus {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: transparent;
  color: #666;
  cursor: default;
  z-index: 2;
}
.Pagination__list__item[disabled],
.Pagination__list__item.is-disabled {
  background-color: transparent;
  border-color: transparent;
  color: #999;
  cursor: default;
}
.Pill {
  display: inline-block;
  font-size: .85em;
  font-weight: 500;
  margin-right: .5em;
  overflow: hidden;
  line-height: 2.2em;
}
.Pill__label,
.Pill__clear {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  padding: 0 .9em;
  -webkit-appearance: none;
}
.Pill__label:first-child,
.Pill__clear:first-child {
  border-bottom-left-radius: 3em;
  border-top-left-radius: 3em;
  padding-left: 1.1em;
}
.Pill__label:last-child,
.Pill__clear:last-child {
  border-bottom-right-radius: 3em;
  border-top-right-radius: 3em;
  padding-right: 1.1em;
}
.Pill__label {
  margin-right: 1px;
}
.Pill__clear {
  margin-left: 1px;
}
.Pill--default > .Pill__label,
.Pill--default > .Pill__clear {
  background-color: #eeeeee;
  color: #666;
}
.Pill--default > .Pill__label:hover,
.Pill--default > .Pill__clear:hover,
.Pill--default > .Pill__label:focus,
.Pill--default > .Pill__clear:focus {
  background-color: #e4e4e4;
  outline: none;
}
.Pill--default > .Pill__label:active,
.Pill--default > .Pill__clear:active {
  background-color: #dadada;
}
.Pill--primary > .Pill__label,
.Pill--primary > .Pill__clear {
  background-color: #e6f1fb;
  color: #1385e5;
}
.Pill--primary > .Pill__label:hover,
.Pill--primary > .Pill__clear:hover,
.Pill--primary > .Pill__label:focus,
.Pill--primary > .Pill__clear:focus {
  background-color: #d4e7f8;
  outline: none;
}
.Pill--primary > .Pill__label:active,
.Pill--primary > .Pill__clear:active {
  background-color: #c3def5;
}
.Pill--info > .Pill__label,
.Pill--info > .Pill__clear {
  background-color: #ecf8fd;
  color: #56cdfc;
}
.Pill--info > .Pill__label:hover,
.Pill--info > .Pill__clear:hover,
.Pill--info > .Pill__label:focus,
.Pill--info > .Pill__clear:focus {
  background-color: #daf2fb;
  outline: none;
}
.Pill--info > .Pill__label:active,
.Pill--info > .Pill__clear:active {
  background-color: #c8ebf9;
}
.Pill--success > .Pill__label,
.Pill--success > .Pill__clear {
  background-color: #e9f7ea;
  color: #34c240;
}
.Pill--success > .Pill__label:hover,
.Pill--success > .Pill__clear:hover,
.Pill--success > .Pill__label:focus,
.Pill--success > .Pill__clear:focus {
  background-color: #daf2dc;
  outline: none;
}
.Pill--success > .Pill__label:active,
.Pill--success > .Pill__clear:active {
  background-color: #cbecce;
}
.Pill--warning > .Pill__label,
.Pill--warning > .Pill__clear {
  background-color: #fdf4eb;
  color: #fa9f47;
}
.Pill--warning > .Pill__label:hover,
.Pill--warning > .Pill__clear:hover,
.Pill--warning > .Pill__label:focus,
.Pill--warning > .Pill__clear:focus {
  background-color: #fbe9d8;
  outline: none;
}
.Pill--warning > .Pill__label:active,
.Pill--warning > .Pill__clear:active {
  background-color: #f9dfc6;
}
.Pill--danger > .Pill__label,
.Pill--danger > .Pill__clear {
  background-color: #f9eaea;
  color: #d64242;
}
.Pill--danger > .Pill__label:hover,
.Pill--danger > .Pill__clear:hover,
.Pill--danger > .Pill__label:focus,
.Pill--danger > .Pill__clear:focus {
  background-color: #f5dada;
  outline: none;
}
.Pill--danger > .Pill__label:active,
.Pill--danger > .Pill__clear:active {
  background-color: #f0cbcb;
}
.Pill--default-inverted > .Pill__label,
.Pill--default-inverted > .Pill__clear {
  background-color: #666;
  color: white;
}
.Pill--default-inverted > .Pill__label:hover,
.Pill--default-inverted > .Pill__clear:hover,
.Pill--default-inverted > .Pill__label:focus,
.Pill--default-inverted > .Pill__clear:focus {
  background-color: #737373;
  outline: none;
}
.Pill--default-inverted > .Pill__label:active,
.Pill--default-inverted > .Pill__clear:active {
  background-color: #595959;
}
.Pill--primary-inverted > .Pill__label,
.Pill--primary-inverted > .Pill__clear {
  background-color: #1385e5;
  color: white;
}
.Pill--primary-inverted > .Pill__label:hover,
.Pill--primary-inverted > .Pill__clear:hover,
.Pill--primary-inverted > .Pill__label:focus,
.Pill--primary-inverted > .Pill__clear:focus {
  background-color: #2591ed;
  outline: none;
}
.Pill--primary-inverted > .Pill__label:active,
.Pill--primary-inverted > .Pill__clear:active {
  background-color: #1177cd;
}
.Pill--info-inverted > .Pill__label,
.Pill--info-inverted > .Pill__clear {
  background-color: #56cdfc;
  color: white;
}
.Pill--info-inverted > .Pill__label:hover,
.Pill--info-inverted > .Pill__clear:hover,
.Pill--info-inverted > .Pill__label:focus,
.Pill--info-inverted > .Pill__clear:focus {
  background-color: #6fd4fc;
  outline: none;
}
.Pill--info-inverted > .Pill__label:active,
.Pill--info-inverted > .Pill__clear:active {
  background-color: #3dc6fc;
}
.Pill--success-inverted > .Pill__label,
.Pill--success-inverted > .Pill__clear {
  background-color: #34c240;
  color: white;
}
.Pill--success-inverted > .Pill__label:hover,
.Pill--success-inverted > .Pill__clear:hover,
.Pill--success-inverted > .Pill__label:focus,
.Pill--success-inverted > .Pill__clear:focus {
  background-color: #43cd4f;
  outline: none;
}
.Pill--success-inverted > .Pill__label:active,
.Pill--success-inverted > .Pill__clear:active {
  background-color: #2fae39;
}
.Pill--warning-inverted > .Pill__label,
.Pill--warning-inverted > .Pill__clear {
  background-color: #fa9f47;
  color: white;
}
.Pill--warning-inverted > .Pill__label:hover,
.Pill--warning-inverted > .Pill__clear:hover,
.Pill--warning-inverted > .Pill__label:focus,
.Pill--warning-inverted > .Pill__clear:focus {
  background-color: #fbac60;
  outline: none;
}
.Pill--warning-inverted > .Pill__label:active,
.Pill--warning-inverted > .Pill__clear:active {
  background-color: #f9922e;
}
.Pill--danger-inverted > .Pill__label,
.Pill--danger-inverted > .Pill__clear {
  background-color: #d64242;
  color: white;
}
.Pill--danger-inverted > .Pill__label:hover,
.Pill--danger-inverted > .Pill__clear:hover,
.Pill--danger-inverted > .Pill__label:focus,
.Pill--danger-inverted > .Pill__clear:focus {
  background-color: #db5757;
  outline: none;
}
.Pill--danger-inverted > .Pill__label:active,
.Pill--danger-inverted > .Pill__clear:active {
  background-color: #d12d2d;
}
.SegmentedControl {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: table;
  font-size: 0.9rem;
  width: 100%;
}
.SegmentedControl--equal-widths {
  table-layout: fixed;
}
.SegmentedControl__item {
  display: table-cell;
  padding: 2px 1px;
}
.SegmentedControl__item:first-child {
  padding-left: 2px;
}
.SegmentedControl__item:last-child {
  padding-right: 2px;
}
/*button*/
.SegmentedControl__button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: none;
  border: none;
  border-radius: 3px;
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  -webkit-appearance: none;
}
.SegmentedControl__button:hover,
.SegmentedControl__button:focus {
  background-color: rgba(0, 0, 0, 0.05);
  outline: none;
}
.SegmentedControl--default .SegmentedControl__button {
  color: #333;
}
.SegmentedControl--default .SegmentedControl__button.is-selected {
  background-color: #333;
  color: white;
}
.SegmentedControl--muted .SegmentedControl__button {
  color: #666;
}
.SegmentedControl--muted .SegmentedControl__button.is-selected {
  background-color: #666;
  color: white;
}
.SegmentedControl--danger .SegmentedControl__button {
  color: #d64242;
}
.SegmentedControl--danger .SegmentedControl__button.is-selected {
  background-color: #d64242;
  color: white;
}
.SegmentedControl--info .SegmentedControl__button {
  color: #56cdfc;
}
.SegmentedControl--info .SegmentedControl__button.is-selected {
  background-color: #56cdfc;
  color: white;
}
.SegmentedControl--primary .SegmentedControl__button {
  color: #1385e5;
}
.SegmentedControl--primary .SegmentedControl__button.is-selected {
  background-color: #1385e5;
  color: white;
}
.SegmentedControl--success .SegmentedControl__button {
  color: #34c240;
}
.SegmentedControl--success .SegmentedControl__button.is-selected {
  background-color: #34c240;
  color: white;
}
.SegmentedControl--warning .SegmentedControl__button {
  color: #fa9f47;
}
.SegmentedControl--warning .SegmentedControl__button.is-selected {
  background-color: #fa9f47;
  color: white;
}
.Spinner {
  display: inline-block;
  font-size: 8px;
  height: 8px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.Spinner_dot {
  -webkit-animation: pulse 1s infinite ease-in-out;
  -o-animation: pulse 1s infinite ease-in-out;
  animation: pulse 1s infinite ease-in-out;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}
.Spinner_dot--second {
  -webkit-animation-delay: 160ms;
  animation-delay: 160ms;
  margin-left: 1em;
}
.Spinner_dot--third {
  -webkit-animation-delay: 320ms;
  animation-delay: 320ms;
  margin-left: 1em;
}
.Spinner--default > .Spinner_dot {
  background-color: #999;
}
.Spinner--primary > .Spinner_dot {
  background-color: #1385e5;
}
.Spinner--inverted > .Spinner_dot {
  background-color: white;
}
.Spinner--default > .Spinner_dot {
  background-color: #999;
}
.Spinner--primary > .Spinner_dot {
  background-color: #1385e5;
}
.Spinner--inverted > .Spinner_dot {
  background-color: white;
}
.Spinner--sm {
  font-size: 4px;
  height: 4px;
}
.Spinner--lg {
  font-size: 16px;
  height: 16px;
}
.Button > .Spinner {
  font-size: 4px;
  height: 4px;
  margin-right: 2em;
}
.Button > .Spinner:only-child {
  margin-right: 0;
}
.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.display-inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.center-block {
  margin: 0 auto;
}
/**
 * Vertical alignment utilities
 * Depends on an appropriate `display` value.
 */
.u-align-baseline {
  vertical-align: baseline !important;
}
.u-align-bottom {
  vertical-align: bottom !important;
}
.u-align-middle {
  vertical-align: middle !important;
}
.u-align-top {
  vertical-align: top !important;
}
/**
 * Display-type utilities
 */
.u-block {
  display: block !important;
}
.u-hidden {
  display: none !important;
}
/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-hidden-visually {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
.u-inline {
  display: inline !important;
}
/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */
.u-inline-block {
  display: inline-block !important;
  max-width: 100%;
  /* 1 */
}
.u-table {
  display: table !important;
}
.u-table-cell {
  display: table-cell !important;
}
.u-table-row {
  display: table-row !important;
}
/**
 * Contain floats
 * see ../mixins/clearfix for more information
 */
.u-clearfix:before,
.u-clearfix:after,
.FormRow:before,
.FormRow:after,
.FileUpload__content:before,
.FileUpload__content:after {
  content: " ";
  display: table;
}
.u-clearfix:after,
.FormRow:after,
.FileUpload__content:after {
  clear: both;
}
/**
 * Floats
 */
.u-float-left {
  float: left !important;
}
.u-float-right {
  float: right !important;
}
/**
 * Pins to all corners by default. But when a width and/or height are
 * provided, the element will be centered in its nearest relatively-positioned
 * ancestor.
 */
.u-pos-absolute-center {
  bottom: 0 !important;
  left: 0 !important;
  margin: auto !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}
/**
 * 1. Make sure fixed elements are promoted into a new layer, for performance
 *    reasons.
 */
.u-pos-fixed {
  position: fixed !important;
  backface-visibility: hidden;
  /* 1 */
}
.u-pos-absolute {
  position: absolute !important;
}
.u-pos-relative {
  position: relative !important;
}
.u-pos-static {
  position: static !important;
}
/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 */
.u-text-break {
  word-wrap: break-word !important;
}
/**
 * Horizontal text alignment
 */
.u-text-center {
  text-align: center !important;
}
.u-text-left {
  text-align: left !important;
}
.u-text-right {
  text-align: right !important;
}
/**
 * Assign basic colours
 */
.u-text-muted {
  color: #999 !important;
}
.u-text-default {
  color: #333 !important;
}
.u-text-primary {
  color: #1385e5 !important;
}
.u-text-info {
  color: #56cdfc !important;
}
.u-text-warning {
  color: #fa9f47 !important;
}
.u-text-success {
  color: #34c240 !important;
}
.u-text-danger {
  color: #d64242 !important;
}
/**
 * Inherit the ancestor's text color.
 */
.u-text-inherit-color {
  color: inherit !important;
}
/**
 * Capitalize the text
 */
.u-text-caps {
  text-transform: uppercase !important;
}
/**
 * Enables font kerning in all browsers.
 * http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 *
 * 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
 * 2. Chrome (not Windows), Firefox, IE 10+
 * 3. Safari 7 and future browsers
 */
.u-text-kern {
  text-rendering: optimizeLegibility;
  /* 1 */
  font-feature-settings: "kern" 1;
  /* 2 */
  font-kerning: normal;
  /* 3 */
}
/**
 * Prevent whitespace wrapping
 */
.u-text-no-wrap {
  white-space: nowrap !important;
}
/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */
.u-text-truncate {
  max-width: 100%;
  /* 1 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  /* 2 */
}
